@import url("theme.css");

.about {
    line-height: 25px;
    text-align: center;
    padding: 0 6%;
}

/* --------------------  Process      Starts Here ------------------------  */
.cards-list.cir {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    
}

/* --------------------  Process      ENDS Here ------------------------  */
